%ul
  - @stories.each do |story|
    - if (story.status == stat)
      - story_desc = "As a #{story.as_a}, I want to #{story.i_want_to} so that #{story.so_that}."
      %li
        = link_to story_desc, story
      

