<% form_tag edit_multiple_stories_path do %>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @stories.each do |story| %>
    <tr>
      <td><%= check_box_tag "story_ids[]", story.id %></td>
      <td><%= story.as_a %></td>
      
      <td><%= link_to "Edit", edit_story_path(story) %></td>
     
    </tr>
    <% end %>
  </tbody>
</table>
<%= submit_tag "Edit Checked" %>
<% end %>