%h1
  Selected User Stories
- @stati.each do |status|
  %h2 
    = status.name
  = render 'list', :stat => status.id, :checkbox => false  

%br/

.button
  = link_to 'Back to All Stories', stories_path
