/* This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . */
body {
  background-color: #4876ff; }

header {
  padding: 25px; }

footer {
  padding: 25px; }

.site_title {
  font-weight: bold;
  font-size: 150%;
  margin-left: 50px; }

.user_nav {
  float: right;
  margin-right: 40px; }

#container {
  margin-left: 50px;
  margin-right: 50px;
  background-color: white;
  padding: 20px; }

table {
  border: 1px black solid;
  margin: 0px; }
  table th {
    border: 1px black solid;
    margin: 0px;
    text-align: center;
    font: bold; }
  table td {
    border: 1px black solid;
    margin: 0px; }

#tag_cloud {
  width: 100%;
  line-height: 2em;
  background-color: #002cae; }
  #tag_cloud .s {
    font-size: 0.8em;
    color: white; }
  #tag_cloud .m {
    font-size: 1.2em;
    color: white; }
  #tag_cloud .l {
    font-size: 1.8em;
    color: white; }

textarea {
  height: 50px; }

.button {
  padding: 20px; }

.button a {
  height: 10px;
  border: 5px solid #2e7e99;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 5px;
  padding: 0.5em;
  text-decoration: none;
  color: darkblue;
  background-color: lightblue; }

.submit_button {
  height: 50px;
  border: 5px solid #2e7e99;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 5px;
  padding: 0.5em;
  text-decoration: none;
  color: darkblue;
  background-color: lightblue; }

.less {
  font-size: 100%; }

.more {
  font-size: 100%; }

li {
  background-color: #cae1ff;
  list-style-type: none;
  text-indent: -1.8em; }

li a {
  text-decoration: none; }

.story_links a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

li:hover {
  color: black;
  background-color: white; }

li:nth-child(odd) {
  background-color: #97c4ff; }
  li:nth-child(odd):hover {
    background-color: white; }

.single_story_nav {
  padding: 20px; }

.single_story_nav li {
  display: inline;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: white; }

.links {
  display: inline;
  font-color: darkblue; }

.emphasis {
  display: inline;
  font-style: italic;
  font-color: darkblue;
  font-weight: 900; }
