/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

table {
  border: 1px black solid;
  margin: 0px;
}

table th {
  border: 1px black solid;
  margin: 0px;
  text-align: center;
  font: bold;
}

table td {
  border: 1px black solid;
  margin: 0px;
}

#tag_cloud .s { 
  font-size: 0.8em; 
}

#tag_cloud .m { 
  font-size: 1.2em; 
}

#tag_cloud .l {
  font-size:1.8em;
}
  
#tag_cloud {
  width: 400px;
  line-height: 2.0em;
 }

textarea {
  height: 50px;
}